* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #003840, #005A5B);

}

.header-main {
    display: flex;
}

.navegacao {
    top:0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: green;
    width: 120px;
    height: 100vh;
    margin-left: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid greenyellow;
    padding: 10px;
    box-shadow: 5px 5px black;
}

.navegacao img {
    height: 130px;
    object-fit: cover;
}

.navegacao a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
}

.convite  {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid greenyellow;
    box-shadow: 5px 5px black;
    width: 85vw;
    margin-left: 20px;
    height: 103vh;
    justify-content: center;
}

.convite h1 {
    color:white;
    font-family: "Bebas Neue", sans-serif;
    font-weight:500;
    font-size: 40px;
    width: 250px;
    padding-left: 20px;
}

.convite p {
    color: white;
    font-family: "Caveat", cursive;
    font-size: 30px;
    font-weight: 600;
}

.convite img {
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px black;
    object-fit: cover;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :50px;
    border: 10px solid greenyellow;
    border-radius: 10px;
    background-color: green;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 5px 5px black;
    margin-right: 24px;
    margin-bottom: 20px;
}

.rodape h2 {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 200;
}

.patrocinios {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 300px;
    padding-bottom: 40px;
}

.patro-meca {
    height: 160px;
}

.nav-resp {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
